*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;

}
.container-{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #1443ff;
}

.container- .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid  #0047fa;
    padding: 0 40px 0 80px;
    border-radius: 30px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.5);

}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}
.hero nav .logo{
    color: #0a225c;
    font-size: 55px;
    font-weight: bold;
}
.hero nav .nav-links a{
    color: #242424;
    margin-left: 40px;
    font-size: 20px;
    text-transform: capitalize;
    transition: 0.4s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a .activate{
    color:blue;
}
.hero .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-right: 40px;
    margin-top: 20px;
}


.hero .content .div-tex{
    width: 40%;
}
.hero .content .div-tex h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
}
.hero .content .div-tex h4{
    color: #0a1c5c;
    font-size: 24px;
    margin-bottom: 10px;
}
.hero .content .div-tex p{
    color: #efefef;
    margin-bottom: 50px;
    font-size: 18px;
}
.hero .content .div-tex .btn{
    padding: 15px 20px;
    background-color: #0a1c5c;
    border: 2px solid #0a1c5c;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}


.hero .content .div-img {
   
    width: 40%;
    
}
.hero .content .div-img img{
    width:350px;
    border-radius: 50%;
    border: 6px solid #0a1c5c;
   

}




